{
   "remote_workspace":"./workspace",
   "repository": "",
   "branch": "master",
   "app_domain": "",
   "git_key_public": "/home/vagrant/.ssh/storrellas.pub",
   "git_key_private": "/home/vagrant/.ssh/storrellas"
}
